
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    background-color:slategray;
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 100%;
}

div.Content {
    display: inline-block;
    width: 100%;
    height: 100%;
}

p {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    max-width: 100%;
    max-height: 100%;
}

div.Header {
    padding-top: 1%;
    text-align: center;
    /* background: #1abc9c; */
    background-image: url("../images/x-xtgONQzGgOE-unsplash.jpg");
    color: white;
    font-size: 32pt;
    width: 100%;
}

div.NavListClass {
    overflow: hidden;
    display: block;
    max-height: 0px;
    transition: max-height 0.5s ease;

    background: #606060;
    width: 100%;
    text-align: center;
}


div.NavListClass a:hover{
    background: gray;
}

div.NavListClass a{
    max-width: 132px;
}

.MobileTopNavBar {
    overflow: hidden;
    display: block;
    text-align: center;
    /* position: fixed; */
    /* left: 0px;
    top: 0px; */
}

.MobileTopNavBar a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    display: block;
}

.MobileTopNavBar a.Icon{
    background: gray;
    display: block;
}

.MobileTopNavBar a.Icon:hover{
    background: green;
}

h1.TitleText {
    text-align: center;
    font-size: 48pt;
}

div.Main p{
    font-size: 24pt;
}

img.LogoImage {
    max-width: 400px;
    width: 75%;
    height: 75%;
}

td.TableLogoImage {
    max-width: 400px;
    width: 75%;
    height: 75%;
}

img.LogoImage2 {
    max-width: 400px;
    width: 100%;
    height: 100%;
}

div.ContentDivider {
    padding: 64px;
}

.OptionContent {
    display: inline-block;
    text-align: center;
    max-width: 40em;
    margin: 0 auto;
}

.OptionContent2 {
    font-size: 24pt;
    text-align: justify;
    width: 100%;
    max-width: 20em;
    margin: 0 auto;
}

.OptionContent2 td{
    padding: 5%;
}

.OptionContent3 {
    font-size: 32pt;
    margin: 0 auto;
    text-align: center;
    font-style: oblique;
    font-weight: 500;
    font-family: serif;
}

.CashAppSVG {
    max-width: 128px;
    max-height: 128px;
    width: 100%;
    height: 100%;
}

footer {
    left: 0;
    bottom: 0;
    font-size: 24pt;
    color: white;
    background: #606060;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}